#################
## Editors  - Sublime Text - phpstorm
#################

*.sublime-project
*.sublime-workspace
*.idea
.idea/

#################
## sass cache
#################
.sass-cache


#################
## Windows detritus
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#################
## Mac
#################
.DS_Store

#################
## Atom
#################
.tern-project

#################
## PM2
#################
ecosystem.json

#################
## Directories
#################


# ignore node_modules folder
node_modules/*

# But don't ignore this folder
!node_modules/party-people/

dist/



#################
## Files
#################



# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
