<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

<div class="container">
	<h1>Version <%- version %> </h1>
	The version number is coming from the package.json file and rendered with ejs in the build process

	<div class="singerContainer">
		<!--the content will be appende here-->
	</div>
</div>
<script type="text/javascript" src="app.js"></script>

</body>
</html>